<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('styles/vueHistorique.css')}}" rel="stylesheet" type="text/css">    
    <title>Visiteur - historique</title>
</head>
<body>

    <div class="header">
        <a class="header-title">GSB-Frais</a>

        <a class="header-link" href="/">Deconnexion</a>
        <a class="header-link" href="/visiteur/historique">Historique</a>
        <a class="header-link" href="/visiteur/frais">Fiches</a>
    </div>

    <div class="page">

        <div class="fiches_list_position">
            <div class="fiches_list">
                <h1>Historique des Fiches</h1>

                <button class="attente">Septembre 2022</button>
                <button class="fini">Aout 2022</button>

            </div>
        </div>

    </div>




</body>
</html>