<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comptable - Pannel</title>
    <script src="https://kit.fontawesome.com/d84560b21a.js" crossorigin="anonymous"></script>
</head>
<body>

    </script>

    <div class="header">
        <a class="header-title">GSB-Frais</a>
        
        <a class="header-link" href="/deconnexion">Deconnexion</a>
        <a class="header-link" href="/comptables/fiches">Fiches</a>
    </div>

    <div class="page">


        <div class="fiches_list_position">
            <div class="fiches_list">
                <h1>Regroupé par mois</h1>

                {% for uneFiche in fichesFrais %}

                <button 
                class=
                {% if uneFiche["idEtatComptable"] == 1 %}
                    "attente"
                {% elseif uneFiche["idEtatComptable"] == 2 %}
                    "fini"
                {% endif %}
                >
                    {{uneFiche["mois"]}}
                </button>                

                {% endfor %}

            </div>
        </div>


    </div>

</body>
</html>