* {
    margin: 0;
    padding: 0;
}


.header {
    background-color: #5899c7;
    height: 10vh;
    width: 100%;
}

.header-title {
    position: relative;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 22px;
    padding-top: 30px;
    display: inline-block;
    margin-left: 4%;
    color: #23e9d9;
}

.header-link {
    position: relative;
    margin: 33px 20px 0px 20px;
    padding-bottom: 5px;

    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    float: right;
    cursor: pointer;
    color: #fffcf2;
    background: rgba(235, 122, 52, 0);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: 0.2s linear;
}

.header-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fffcf2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.header-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.page{
    background-color: rgb(240, 240, 240);
    height: 90vh;
    display: flex;
    width: 100%;
    background-color: #4284b3;
}

.fiche_position
{
    position: relative;
    padding-top: 50px;
    width: 650px;
    display: flex;
    margin: 0 auto;
}

.fiche_frais
{
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: scroll;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(94,94,94,0.54); 
    box-shadow: 0px 0px 10px 5px rgba(94,94,94,0.54);
    overflow: hidden;
}

.fiche_frais h1
{
    text-align: center;
    margin: 20px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
}




table {
    border-collapse: collapse;
    font-family: 'Hind Siliguri', sans-serif;
}

.table_fiche
{
    width: 85%;
    position: relative;
    margin: 0 auto 30px;

}

.table_fiche tr
{
    height: 35px;
}

.table_fiche th
{
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #6C79E0;
}

.th_libelle
{
    width: 80%;
}
.th_quantite
{
    width: max-content;
}

.th_hf_libelle
{
    width: 55%;
}
.th_hf_date
{
    width: 25%;
}

.th_hf_prix
{
    width: max-content;
}


/*
.td_libelle
{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 17px;
    line-height: 25px;
    width: 90%;
}

.td_input
{
    font-size: 17px;
    width: 50px;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    line-height: 25px;
}
*/



.input_libelle{
	font-family: "Roboto", sans-serif;
	background-color: rgb(255, 255, 255);
    width: 90%;
    font-size: 15px;
    border: 1px solid black;
}

.td_date {
    text-align: center;
    }

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

.input_prix{
    text-align: center;
	background-color: rgb(225, 225, 225);
	border: 0px;
	box-sizing: border-box;
	font-size: 15px;
    display:inline-block;
    width: 100%;
    height: 35px;
}

.input_prix::-webkit-outer-spin-button,
.input_prix::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}




.add_frais_button_position
{
    margin-left: 75px;
}

.add_frais_button {
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    letter-spacing: .25px;
    padding: 0 20px;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
}
  
.add_frais_button:hover {
    background: #F6F9FE;
    color: #174ea6;
}
  
.add_frais_button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}


.form_submit_position
{
    position: absolute;
    bottom: 40px;
    right: 60px;
}

.form_submit
{
    background-color: #fff;
    border-radius: 20px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    letter-spacing: .25px;
    padding: 0 20px;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
}

.form_submit:hover {
    background: #F6F9FE;
    color: #174ea6;
}
  
.form_submit:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}